h1{text-align: center;}
h3{text-align: center;}
h2{text-align: center;}
h4{text-align: left;}

.image{

     clear:left;
     border-radius: 50px;
     background-color: rgb(255, 255, 255);

    width: 200px;
    height: 200px;

}
.menu{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: space-between;
    color: white;
    font-size: 10px;
    padding:0px;
    margin-bottom:-20px;
    height:50px;
    font-family: sans-serif;
    font-weight: 400;
    
}
.men{
    font-size: 20px;
}
.bodyImg{
    background-image: url("background.jpg");
    background-position-y:100;
    border-bottom: 100;
    color: white;
    height: 150px;
    margin-top:20px;
    padding: 20px;
    
}
.grid img{

    display:flex;
    border:2px solid black;
    border-radius:50px;

    width: 200px;
    height: 200px;
    font-family: fantasy;


}
body{
    background:rgb(224, 219, 219);
    
    padding:0px;
    

}
a:link{
    color:blue;
}
a:visited{
    color:purple;
}
.item{
    position:relative
}
.section{
    margin-left: 40px;
    margin-top: 30px;
    background-color: white;
    width:400px;
    padding-left: 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.image {
    padding-bottom: 20px;
   margin-left: 80px;
}

a{
    text-decoration: none;
}




.image:hover img{
    transform:scale(1.2);
}